<div class="container">
  <h3>DropDown</h3>

  <br />
  <div class="row">
    <div class="col-xs-12">
      <select [(ngModel)]="country" (change)="setState()">
        <option value="none">select Country</option>
        <option value="India">India</option>
        <option value="Germany">Germany</option>
      </select>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12">
      <select>
        <option *ngFor="let state of states" value="state">{{ state }}</option>
      </select>
    </div>
  </div>
</div>
